################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/res/Sources/CarveraBody.SLDPRT
/res/Sources/CarveraBody.STEP
/res/Sources/ProbeBore_Large.png
/bin/x64/Debug
/imgui.ini
/imgui.in_
/src/.vs/Clout
/res/Sources
/.vs
/bin/x64/Release
/bin/res/Sources
/bin/imgui.ini
/build/.vs/Clout
/build/bin/Debug
/build/CMakeFiles
/build/src/CloutProj.dir/Debug
/build/src/CMakeFiles
/build/src
/build/x64/Debug
/build/ALL_BUILD.vcxproj.filters
/build/ALL_BUILD.vcxproj
/build/ZERO_CHECK.vcxproj.filters
/build/ZERO_CHECK.vcxproj
/build/INSTALL.vcxproj.filters
/build/INSTALL.vcxproj
/build/cmake_install.cmake
/build/CMakeCache.txt
/build/Clout.sln
/build/build/bin/Debug
/build/build/CMakeFiles
/build/build/src
/build/build/x64/Debug
/build/build/ZERO_CHECK.vcxproj.filters
/build/build/ZERO_CHECK.vcxproj
/build/build/INSTALL.vcxproj.filters
/build/build/INSTALL.vcxproj
/build/build/cmake_install.cmake
/build/build/CMakeCache.txt
/build/build/Clout.sln
/build/build/ALL_BUILD.vcxproj.filters
/build/build/ALL_BUILD.vcxproj
